table, th, td {border: 1px solid;}

th, td {width: 150px;}

.hidden {visibility: collapse;}

td.fTcolor00 {
  background-color: white;
}

td.fTcolor01 {
  background-color: #fafa6e;
}

td.fTcolor02 {
  background-color: #edf76f;
}

td.fTcolor03 {
  background-color: #e0f470;
}

td.fTcolor04 {
  background-color: #d4f171;
}

td.fTcolor05 {
  background-color: #c8ed73;
}

td.fTcolor06 {
  background-color: #bcea75;
}

td.fTcolor07 {
  background-color: #b0e678;
}

td.fTcolor08 {
  background-color: #a5e27a;
}

td.fTcolor09 {
  background-color: #99de7c;
}

td.fTcolor10 {
  background-color: #8eda7f;
}

td.fTcolor11 {
  background-color: #83d681;
}

td.fTcolor12 {
  background-color: #79d283;
}

td.fTcolor13 {
  background-color: #6ecd85;
}

td.fTcolor14 {
  background-color: #64c987;
}

td.fTcolor15 {
  background-color: #5ac489;
}

td.fTcolor16 {
  background-color: #50bf8b;
}

td.fTcolor17 {
  background-color: #46bb8c;
}

td.fTcolor18 {
  background-color: #3cb68d;
}

td.fTcolor19 {
  background-color: #32b18e;
}

td.fTcolor20 {
  background-color: #28ac8f;
}

td.fTcolor21 {
  background-color: #1ea78f;
}

td.fTcolor22 {
  background-color: #12a28f;
}

td.fTcolor23 {
  background-color: #039d8f;
}

td.fTcolor24 {
  background-color: #00988e;
}

td.fTcolor25 {
  background-color: #00938d;
}

td.fTcolor26 {
  background-color: #008e8c;
}

td.fTcolor27 {
  background-color: #00898a;
}

td.fTcolor28 {
  background-color: #008488;
}

td.fTcolor29 {
  background-color: #007e86;
}

td.fTcolor30 {
  background-color: #007983;
}

td.fTcolor31 {
  background-color: #057480;
}

td.fTcolor32 {
  background-color: #0e6f7d;
}

td.fTcolor33 {
  background-color: #156a79;
}

td.fTcolor34 {
  background-color: #1a6575;
}

td.fTcolor35 {
  background-color: #1e6071;
}

td.fTcolor36 {
  background-color: #225b6c;
}

td.fTcolor37 {
  background-color: #255667;
}

td.fTcolor38 {
  background-color: #275163;
}

td.fTcolor39 {
  background-color: #294d5d;
}

td.fTcolor40 {
  background-color: #2a4858;
}