table, th, td {border: 1px solid;}

table {border-collapse: collapse;}

th, td {width: 150px;}

td.fTcolor00 {
  background-color: white;
}

td.fTcolor01 {
  background-color: #fafa6e;
}

td.fTcolor02 {
  background-color: #edf76f;
}

td.fTcolor03 {
  background-color: #e0f470;
}

td.fTcolor04 {
  background-color: #d4f171;
}