table, th, td {border: 1px solid;}

table {border-collapse: collapse;}

th, td {width: 150px;}

td.fTcolor0 {
  background-color: white;
}

td.fTcolor1 {
  background-color: #fafa6e;
}

td.fTcolor2 {
  background-color: #edf76f;
}

td.fTcolor3 {
  background-color: #e0f470;
}

td.fTcolor4 {
  background-color: #d4f171;
}