h1, h2 {
  font-family: Lato;
}

.taglist table, th, td {
  border:1px solid black;
}

.taglist {
  border: 1px solid #666666;  
  margin-top:40px; margin-bottom:30px;  
}
  
.taglist tbody tr td {
  font-family: "lucida grande", verdana, sans-serif;
  font-size: 8pt;  
  padding: 3px 8px;
  border-left: 1px solid #D9D9D9;
}
  
.taglist tbody tr.selected td {  
  background-color: #3d80df;  
  color: #ffffff;  
  font-weight: bold;  
  border-left: 1px solid #346DBE;  
  border-bottom: 1px solid #7DAAEA;  
}